@import "../../styles/variable.scss";

.eventDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $white;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 40px;

  @media (min-width: $medium-screen) {
    width: 415px;
    margin: 10px;
  }

  .eventText {
    margin-top: 10px;

    .itemText {
      margin-bottom: 5px;

      .detailTitle {
        margin: 0;
        min-width: 100px;
      }

      .detailText {
        margin: 0;
        color: $grey-20;
        min-width: 130px;
        word-wrap: break-word;
      }
    }

    .descriptionText {
      margin: 0;
      color: $grey-20;
    }
  }

  .actionButtons {
    display: flex;
    flex-direction: row;

    .btn {
      border-color: $primary-color;
      border-style: solid;
      display: block;
      width: 100px;
      height: 40px;
      padding: 8px 0;
      margin: 10px auto;
      background: $primary-color;
      border-radius: 50px;
      color: $white;
      text-align: center;
      cursor: pointer;

      @media (min-width: $medium-screen) {
        width: 150px;
      }
    }

    .btn:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }

  .eventImage {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      max-height: 240px;
      min-height: 240px;
    }
  }

  &:hover {
    box-shadow: 2px 2px 4px $black;
  }
}

.itemText {
  display: flex;
}
