.login {
  background-color: white;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  width: 430px;
  height: 240px;
  border-radius: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &:hover {
    box-shadow: 2px 2px 4px #00000057;
  }
}

.btn {
  border-color: #e8903e;
  border-style: solid;
  display: block;
  width: 150px;
  height: 40px;
  padding: 8px 0;
  margin: 10px auto;
  background: #e8903e;
  border-radius: 4px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #de5928;
  border-color: #de5928;
}
