@import "../../styles/variable.scss";

.login {
  background-color: $white;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  width: auto;
  height: 240px;
  border-radius: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 2px 2px 4px $black;

  .title {
    text-align: center;
  }

  @media (min-width: $medium-screen) {
    width: 430px;
  }
}

.btn {
  border-color: $primary-color;
  border-style: solid;
  display: block;
  width: 150px;
  height: 40px;
  padding: 8px 0;
  margin: 10px auto;
  background: $primary-color;
  border-radius: 50px;
  color: $white;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
  transition: 0.5s;
}
