@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Nunito;
}

p {
  // color: #777;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 0 50px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid #eaeaea;

  .logo {
    img {
      width: 150px;
    }
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    align-items: center;

    .link {
      color: #747373;
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        color: #e8903e;
      }
    }
  }
}

.footer {
  color: #747373;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
